name: Vulnerable Pipeline

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DEMO_SECRET: ${{ secrets.DEMO_SECRET }}  # <-- vulnérabilité

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Normal step
        run: echo "Pipeline started"

      - name: Check secret availability
        run: |
          if [ -z "$DEMO_SECRET" ]; then
            echo "❌ Secret NOT available"
          else
            echo "✔ Secret available: $DEMO_SECRET"
          fi
